numpy==1.26.4
pandas==2.3.3
requests==2.33.0
openpyxl==3.1.5

matplotlib==3.10.7
seaborn==0.12.2
plotly==5.9.0

scikit-learn==1.7.2
statsmodels==0.14.6
patsy==1.0.2
xgboost==3.2.0
umap-learn==0.5.7

geopandas==1.1.2
shapely==2.0.5

jupyter==1.1.1
notebook==6.5.4
ipykernel==7.2.0
